{%- assign force_secondary_background = true -%}

<div class="all-collections-page">
<section class="cl-vegepod-raised-garden-beds">
  {% section 'collection-vegepod-raised' %}
</section>
<section class="cl-vegecover">
  {% section 'collection-vegecover' %}
</section>
<section class="collection-others-section">
  {% section 'collection-other-prod' %}
</section>
</div>