<div id="insatller-main-template">
{%- section 'installer-banner' -%}
{%- section 'installer-content' -%}
{%- section 'request-installation-form' -%}
{%- section 'community-lower-section' -%}
{%- section 'popup-vegepod-features' -%}

</div>