{%- assign force_secondary_background = true -%}

<div class="page__content-wrapper hero-section" style="background:url('//cdn.shopify.com/s/files/1/2337/4427/files/vagepod-bg_large_18309d4a-f023-4b5d-96cb-162258172c37_large.jpg'); background-size:cover;">
  <div class="container">
    <div class="page__header">
      <h1 class="page__title h1">{{ page.title }}</h1>
      <a class="back" href="/pages/community-gardening-programs-1">Back</a>
    </div>    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="box__content box__content--large-padding rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>