{%- assign force_secondary_background = true -%}
{%- section 'in-th-media-banner' -%}
<div class="page__content-wrapper">
  <div class="container">
    {% section 'in-the-media' %}

  </div>
</div>
{{ page.content }}