{%- assign force_secondary_background = true -%}

<!-- <div class="page__content-wrapper">
  <div class="container">
    <div class="page__header">
      
    </div>

  </div>
</div> -->


{% section 'setup-page-section'%}

{% section 'assembly-section' %}

{% section 'filling-soil-section' %}

{% section 'planting-section' %}

{% comment %} {%- section 'online-store-template' -%} {% endcomment %}